# Core requirements
numpy==1.26.4
scipy==1.13.1
pandas

# Core libraries for NLP and ML
spacy==3.7.5

scispacy==0.5.5

# ClinicalTrials model
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz

# Weaviate Client
weaviate-client==4.10.2

# Streamlit
streamlit==1.41.1

# Additional utilities
tqdm==4.64.1
